&adc0 {
	status = "okay";
	nchannels = <2>;

	#address-cells = <1>;
	#size-cells = <0>;

	ref-internal-mv = <3300>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&gpio0 {
	status = "okay";
};

/ {
	kscan_he: kscan_he {
		compatible = "zmk,kscan-he-matrix";
		skip-startup-calibration;
		active-polling-interval-ms = <0>;

		select-gpios = <&gpio0 0 0>, <&gpio0 1 0>;
		io-channels = <&adc0 0 &adc0 1>;

		precalib-avg-highs = < 2913 2913 2900 2899 >;
		precalib-avg-lows = < 0 0 0 0 >;

	};
};
