
if KSCAN

config ZMK_ANALOG_MATRIX
    bool

if ZMK_ANALOG_MATRIX

config ZMK_ANALOG_MATRIX_CALIBRATOR
	bool "Build in the calibrator needed for initial setup of the matrix"

if ZMK_ANALOG_MATRIX_CALIBRATOR

config ZMK_ANALOG_MATRIX_VERBOSE_CALIBRATOR
	bool "Verbose Calibration"

endif # ZMK_ANALOG_MATRIX_CALIBRATOR

config ZMK_ANALOG_MATRIX_SETTINGS
	bool "Analog Matrix Settings Storage"
	default y
	depends on SETTINGS

config ZMK_ANALOG_MATRIX_SETTINGS_DISCRETE
	bool "Store individual calibration entries as disrete settings"
	depends on ZMK_ANALOG_MATRIX_SETTINGS
	help
	  Store each key position calibration data as separate settings values.
	  This is mostly useful on platforms like SAM0 (e.g. SAMD21) which have
	  limits on the size a given setting value can be.

config ZMK_ANALOG_MATRIX_SETTINGS_NAME_PREFIX
	string
	help
	  The string prefix used in the final settings named for calibration data.
	  Set by drivers to a meaningful value, e.g. "ec"

config ZMK_ANALOG_MATRIX_DYNAMIC_POLL_RATE
	bool "Dynamic poll rate for power savings"

config ZMK_ANALOG_MATRIX_SHELL
	bool
	depends on SHELL

endif # ZMK_ANALOG_MATRIX

config ZMK_ANALOG_MATRIX_SCAN_RATE_CALC
	bool "Analog matrix scan rate calculation"
	depends on ZMK_ANALOG_MATRIX
	select TIMING_FUNCTIONS
	help
	  Calculate and store information about the timing for a given scan of the matrix,
	  which can be accessed using the shell, e.g. `ec matrix scan_rate`.

rsource "Kconfig.ec"
rsource "Kconfig.he"

endif
